<?xml version="1.0" encoding="UTF-8"?>
<!-- 2022-03-22 작성 -->
<web-app> 	
 	<filter>   <!-- 콘솔에 출력할 로그 기록 필터 정의 (그냥 시각적 출력) -->
		<filter-name>LogFilter</filter-name>   <!-- 필터 이름 -->
		<filter-class>filter.LogFilter</filter-class>   <!-- 적용되어 사용되는 필터 클래스 -->
	</filter>
	<!-- 
	<filter-mapping>
	특정 리소스에 대해 어떤 필터를 사용할지 설정하는 데 사용
	 -->
	<filter-mapping>   <!-- 콘솔에 출력할 로그 기록 필터 사용 방식 -->
		<filter-name>LogFilter</filter-name>   <!-- 사용할 필터의 이름 -->
		<url-pattern>/*</url-pattern>   <!-- url이 / 로 시작되는 모든 요청을 필터링 -->
	</filter-mapping>   <!-- 즉, url이 / 로 시작되는 모든 요청(접근)에 대하여 LogFilter 필터 적용 (filter.LogFilter 클래스가 호출됨) -->
	
	<filter>   <!-- 로그 기록을 파일에 저장하기 위한 필터 정의 (물리적 저장) -->
		<filter-name>LogFileFilter</filter-name>   <!-- 필터 이름 -->
		<filter-class>filter.LogFileFilter</filter-class>   <!-- 적용되어 사용되는 필터 클래스 -->
		<init-param>   <!-- 필터가 초기화될때, 즉 init() 메소드가 호출될 때 전달되는 파라미터 값 -->
			<param-name>filename</param-name>   <!-- 파라미터 이름 -->
			<param-value>c:\\logs\\webmarket.log</param-value>   <!-- 파라미터의 값 (로그 기록이 저장될 파일 경로) -->
		</init-param>
	</filter>
	<filter-mapping>   <!-- 로그 파일 필터 사용 방식 -->
		<filter-name>LogFileFilter</filter-name>   <!-- 사용할 필터의 이름 -->
		<url-pattern>/*</url-pattern>   <!-- url이 / 로 시작되는 모든 요청을 필터링 -->
	</filter-mapping>   <!-- 즉, url이 / 로 시작되는 모든 요청(접근)에 대하여 LogFileFilter 필터 적용 (filter.LogFileFilter 클래스가 호출됨) -->
</web-app>
<!-- 
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>WebMarket_0322</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
</web-app>
 -->